.title{
    text-align: center;
    color:chocolate;
}

.photo {
    display: block;
    width: 300; 
    height: 200;
    box-sizing: border-box;
    margin: auto;
    

}

h3{
    font-size: 26px;
    text-align: center;
}

p{
    text-align: center;
}

p,
li{
    font-size: 24px;
    border: 4px none black;
    background-color: lightpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,
ol {
  list-style-type: none;
  text-align: center;
}


